In [1]:
import os
import json
from openai import OpenAI
import pandas as pd
import ast

In [21]:
client = OpenAI(api_key="")

def parse_cv_with_chatgpt(cv_text):
    prompt = f"""
    Extract the following information from the CV text below and format it as a JSON object. Use the keys:
    - Name
    - Nationality Vietnamese ->Viet Nam, if null return Viet Nam as default
    - DOB year only
    - Sex
    - Seniority (if present)
    - About
    - Education (include university and years)
    - Languages
    - Programing Language: e.g.. Python, C++
    - Tool: e.g.Grafana,Prometheus,Graylog,...
    - Automation/Orchestration tool: e.g AWS CloudFormation,Ansible,Jenkins,Terraform,...
    - Microservice:e.g Docker,ECS,ECR,Kurbernetes
    - OS: e.g Windows,Linux
    - Database:e.g MySQL,Postgres,MongoDB,Oracle,DMS,Athena,Reshift,...
    - Public Cloud:e.g AWS,Azure,GCP,...
    - Projects Experience (project name,customer, position, responsibilities,technologies used)
    - Certifications (if any)

    If a field is missing, set it to null. Return only valid JSON.

    CV Text:
    {cv_text}
    """

    response = client.chat.completions.create(
        model="gpt-4",
        messages=[
            {"role": "system", "content": "You are a helpful assistant that extracts unstructured data from CVs."},
            {"role": "user", "content": prompt}
        ],
        temperature=0.1
    )
    response_content = response.choices[0].message.content
    try:
        return json.loads(response_content)
    except json.JSONDecodeError:
        # If JSON parsing fails, prompt the model to correct its output
        correction_prompt = f"The following output was not valid JSON:\n{response_content}\nPlease provide a corrected JSON."
        correction_response = client.chat.completions.create(
            model="gpt-4",
            messages=[
                {"role": "system", "content": "You are a helpful assistant that extracts structured data from CVs."},
                {"role": "user", "content": correction_prompt}
            ],
            temperature=0.1
        )
        try:
            return json.loads(correction_response.choices[0].message.content)
        except json.JSONDecodeError:
            print("Failed to parse JSON response after correction attempt.")
            return None
def main():
    cv_dir = "output"
    output_file = "cv_data.csv"
    data = []

    if not os.path.exists(cv_dir):
        print(f"Directory '{cv_dir}' does not exist.")
        return

    for filename in os.listdir(cv_dir):
        if filename.endswith(".txt"):
            filepath = os.path.join(cv_dir, filename)
            with open(filepath, 'r', encoding='utf-8') as f:
                cv_text = f.read()
                result = parse_cv_with_chatgpt(cv_text)
                if result:
                    data.append(result)

    if data:
        df = pd.DataFrame(data)
        df.to_csv(output_file, index=False)
        print(f"CSV file '{output_file}' created successfully.")
    else:
        print("No data to write to CSV.")

if __name__ == "__main__":
    main()

CSV file 'cv_data.csv' created successfully.

In [24]:
pd.read_csv("cv_data.csv")

,Name,Nationality,DOB,Sex,Seniority,About,Education,Languages,Programing Language,Tool,Automation/Orchestration tool,Microservice,OS,Database,Public Cloud,Projects Experience,Certifications
0,Vu Viet Anh,Viet Nam,13/05/1993,Male,7+ years,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","['Vietnamese', 'English']",NaN,"['Redmine', 'Grafana', 'Jira', 'Zabbix', 'MS O...","['Windows', 'Linux']",NaN,"['Windows', 'Linux']","['SQL Server', 'My SQL']",NaN,"[{'project name': 'FCCL', 'customer': 'Japanes...",NaN
1,Bui Duc Anh,Viet Nam,8/24/1990 0:00,Male,NaN,2 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,English,"['Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS Codepipeline', 'CodeBuild', 'GitlabCI', ...","['Docker', 'Kurbernetes']","['Windows', 'Linux', 'Ubuntu']",PostgresSQL,AWS,"[{'project name': 'USHM', 'customer': 'Japan c...",NaN
2,To Quy Thanh,Viet Nam,2003,Male,< 1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'HAUI Hanoi University of Indus...,"['Vietnamese', 'English']","['Python', 'C++', 'SQL', 'Bash Script', 'Scala...","['Databrick', 'Apache Spark', 'AWS Glue', 'AWS...",NaN,"['Kafka', 'Docker']","['Windows', 'Linux']","['MySQL', 'DynamoDB']",['AWS'],"[{'project name': 'USMH', 'customer': 'Japanes...",NaN
3,Pham Viet Hieu,Viet Nam,1993,Male,5 years,8 years of experience in the computer software...,{'university': 'Hanoi University of Science an...,"['Vietnamese', 'Japanese', 'English']","['Python', 'Bash Script']","['Grafana', 'Prometheus', 'Graylog']","['AWS CloudFormation', 'Ansible', 'Jenkins', '...","['Docker', 'ECS', 'ECR', 'Kurbernetes']","['Windows', 'Linux']","['MySQL', 'MongoDB', 'Oracle', 'DMS', 'Athena'...","['AWS', 'Azure', 'GCP']","[{'project name': 'Cloud Group Leader', 'custo...","['AWS Certified DevOps Engineer Professional',..."
4,Doan Dinh Vu Cong,Viet Nam,1/1/1997 0:00,Male,3.5 years,"I am a responsible, dedicated and proactive pe...","{'university': 'FPT University', 'years': '201...","['Vietnamese', 'Japanese', 'English']","['Java Spring Boost', 'Java Core', 'C#']","['Visual Studio Code', 'Eclipse', 'IntelliJ', ...",['Selenium'],NaN,['Windows'],"['MS SQL', 'My SQL', 'Postgre SQL']",['Nifcloud'],"[{'project name': 'FCCL_Monitor_D3', 'customer...",NaN
5,Le Huu Minh,Viet Nam,12/7/1994 0:00,Male,6+ years,#NAME?,"{'university': 'FPT Polytechnic', 'years': 'Now'}","['Vietnamese', 'English']",NaN,"['Redmine', 'Jira', 'CheckMK', 'Zabbix', 'Graf...",NaN,NaN,"['Windows', 'Linux']","['SQL Server', 'MS SQL']",['AWS'],"[{'project name': 'FCCL', 'customer': 'Japanes...",NaN
6,Le Sy Quang,Viet Nam,24/02/1993,Male,7+ years,"4+ years of experience in Developer, 2+ years ...",{'university': 'Hanoi University of Mining and...,"['Vietnamese', 'English']",NaN,['Redmine'],['Postman'],NaN,NaN,"['SQL Server', 'My SQL', 'PostgreSQL']",NaN,"[{'project name': 'FCCL', 'customer': 'Japanes...",NaN
7,Ngo Thach Anh,Viet Nam,11/2/1994 0:00,Male,2 years,+ 2 year of experience in Operation System\r\n...,{'university': 'Nam Dinh Industrial College Ni...,"['Vietnamese', 'Japanese', 'English']",NaN,"['Redmine', 'Grafana', 'IntelliJ', 'Visual Stu...",NaN,NaN,"['Windows', 'Linux']","['My SQL', 'Oracle']",NaN,"[{'project name': 'FCCL', 'customer': 'Japanes...",NaN
8,Nguyen Phi Hai Nam,Viet Nam,6/4/2001 0:00,Male,3+ years,2+ years of experience in Website Testing Mobi...,"{'university': 'Hanoi University', 'years': '2...","{'Vietnamese': 'Native', 'English': 'C1 Advanc...",NaN,"Redmine, Backlog, MS Office","Postman, Katalon Studio, Test Cafe",NaN,"Windows, Centos 7","SQL Server, My SQL, PostgreSQL, DBeaver, MongoDB",AWS,[{'project name': 'EXV_Installation_Checksheet...,NaN
9,NGUYEN THI HONG NHUNG,Viet Nam,29/11/2000,Female,2 years,Over 2 years of experience working as a sub-PM...,{'University': 'University of Languages & Inte...,"['Vietnamese', 'Japanese', 'English']",['HTML/CSS'],"['Redmine', 'Backlog', 'Jira', 'MS Office', 'd...",NaN,NaN,"['Windows', 'MacOSX']",['MySQL'],NaN,[{'project name': 'System and Infra Monitoring...,"['Japanese-Language Proficiency Test N2', 'ITI..."
10,Nguyen Hai My,Viet Nam,11/9/1996 0:00,Female,~3 years,3 years of experience in Software Development ...,"[{'university': 'Ha Noi University', 'years': ...","['Korean', 'English']",NaN,"['Microsoft Word', 'Microsoft Excel', 'Microso...",NaN,NaN,NaN,NaN,NaN,[{'project name': 'Development of internal sta...,"[{'certification': 'TOPIK Level 6', 'validity'..."
11,Nguyen Quang Hoa,Viet Nam,4/7/1997 0:00,Male,NaN,4 years of experience in the computer software...,{'University': 'University of Transport and co...,English,"['Java', 'Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS CloudFormation', 'AWS Codepipeline', 'Co...","['Docker', 'ECS', 'ECR', 'Kurbernetes']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Azure']","[{'project name': 'MSH', 'customer': 'Singapor...","['Azure Database Administrator Associate', 'AW..."
12,Pham Thi Minh Luong,Viet Nam,30/09/1992,Female,9 years,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"['Vietnamese', 'Japanese', 'English']","['Java', 'Python']","['Redmine', 'Backlog', 'Jira', 'MS Office', 'd...",['UIPath Studio'],NaN,"['Windows', 'MacOSX']","['MS SQL', 'My SQL', 'Postgre SQL']",['AWS'],"[{'project name': 'Ashisuto', 'customer': 'Con...","['ITIL 4 Foundation', 'ISTQB Advance (CTAL-TM ..."
13,Pham Thi Minh Luong,Viet Nam,30/09/1992,Female,9 years,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"['Vietnamese', 'Japanese', 'English']","['Java', 'Python']","['Redmine', 'backlog', 'Jira', 'MS Office', 'd...","['UIPath Studio', 'Jenkins']",NaN,"['Windows', 'MacOSX']","['MS SQL', 'My SQL', 'Postgre SQL']",['AWS'],"[{'project name': 'Operation manager', 'custom...","['ITIL 4 Foundation', 'ISTQB Advance', 'PMI-AC..."
14,Vu Viet Anh,Viet Nam,13/05/1993,Male,7+ years,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","['Vietnamese', 'English']",NaN,"['Redmine', 'Grafana', 'Jira', 'Zabbix', 'MS O...","['Windows', 'Linux']",NaN,"['Windows', 'Linux']","['SQL Server', 'My SQL']",NaN,"[{'project name': 'FCCL', 'customer': 'Japanes...",NaN
15,Do Van Huan,Viet Nam,2001,Male,NaN,NaN,"{'university': 'FPT Aptech', 'years': '07/2019...",English,"['Java', 'Typescript']","['Eclipse', 'Visual Studio', 'Netbeans', 'Inte...",NaN,['Docker'],NaN,"['SQLServer', 'Oracle', 'PostgreSQL', 'MySQL']",['AWS'],"[{'project name': 'L Project', 'customer': 'Ko...",NaN
16,Luong Van Huan,Viet Nam,1991,Male,NaN,NaN,{'university': 'Ha Noi University of Science A...,English,"['Java', 'Python', 'Bash Script', 'Javascript']","['Eclipse', 'Intellij', 'VSCode']","['Git', 'SVN']",['Docker'],NaN,"['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Google cloud']","[{'project name': 'L Project', 'customer': 'Ja...",NaN
17,Nguyen Thanh Phuong,Viet Nam,1999,Male,NaN,NaN,"{'university': 'FPT POLYTECHNIC COLLEGE', 'yea...",English,"['PHP', 'VueJs', 'Typescript', 'Javascript']","['PHPStorm', 'Visual Studio']",NaN,NaN,NaN,MySQL,AWS,"[{'project name': 'L Project', 'customer': 'Ko...",NaN
18,Nguyen Ha Phong,Viet Nam,9/27/1996 0:00,Male,5+ years,5+ years of experience in Software Testing. Ex...,"{'university': 'FPT University', 'years': '201...","['Vietnamese', 'English']","['HTML', 'Java', 'Python']","['Backlog', 'Jira', 'Redmine']","['Selenium', 'Robot Framework', 'Katalon', 'Po...",NaN,NaN,"['Oracle', 'MariaDB', 'PostgreSQL', 'My SQL', ...",NaN,"[{'project_name': 'EXD_EDION_IC', 'customer': ...",NaN
19,Pham Thu Trang,Viet Nam,27/03/2002,Female,NaN,NaN,{'university': 'Cao dang thuc hanh FPT Polytec...,"['English', 'Korean']",['PHP'],"['Postman', 'Adobe XD', 'Figma', 'Notepad++', ...",NaN,NaN,"['Ubuntu', 'Windows']","['MySQL', 'Oracle']",NaN,NaN,['Top Notch 2.2']
20,Tran Thi Kim Bac,Viet Nam,2002,Female,NaN,NaN,{'University': 'University of Engineering and ...,English,Java,"['VSCode', 'IntelliJ', 'Eclipse']",NaN,Docker,NaN,MySQL,AWS,"[{'project name': 'L Project', 'customer': 'Ko...",NaN
21,Tran Tien Dat,Viet Nam,9/2/2001,Male,NaN,NaN,"{'university': 'Dai hoc Cong nghiep Ha Noi', '...",NaN,PHP,"['Visual Studio', 'Notepad++', 'Redmine', 'Jir...",NaN,NaN,"['Windows', 'Ubuntu']","['SQLServer', 'MySQL']",NaN,NaN,NaN
22,Tran Trong Nghia,Viet Nam,17/07/1996,Male,NaN,NaN,{'university': 'Hoc vien Cong nghe Buu chinh V...,NaN,"['PHP', 'TypeScript']","['Postman', 'Jira', 'Github', 'Gitlab']",NaN,['Docker'],"['Windows', 'Ubuntu']",['MySQL'],['AWS'],NaN,"['AWS SAA', 'AWS cloud practitioner']"
23,Nguyen Phuong Chi,Viet Nam,20/06/2001,Female,1 year,I am a proficient software tester with experie...,{'University': 'University of Languages and In...,"['Vietnamese', 'English', 'Japanese']",NaN,"['Redmine', 'Jira', 'Backlog', 'Katalon Studio...",NaN,NaN,NaN,"['MySQL', 'Oracle', 'Mongo']",['AWS'],"[{'project name': 'Project_IC', 'customer': 'J...","['ISTQB Foundation (CTFL)', 'JLPT N2', 'IELTS ..."
24,Luong Van Huan,Viet Nam,3/2/1991 0:00,Male,NaN,9 years of experience in the computer software...,{'university': 'Ha Noi University of Science A...,English,"['Java', 'Python', 'Bash Script', 'C++']",['Vangrind'],['Jenkins'],['Docker'],"['Windows', 'Linux', 'MacOS']","['MySQL', 'PostgresSQL', 'Oracle SQL']",['AWS'],"[{'project name': 'JACIC', 'customer': 'Japan ...",NaN
25,Nguyen Duyen Manh,Viet Nam,15/12/1993,Male,NaN,NaN,"{'university': 'Dai hoc Thuy Loi', 'years': '0...",English,PHP,"['PHP storm', 'Visual Studio', 'ERP']",NaN,NaN,"['Windows', 'Linux']",MySQL,NaN,NaN,NaN
26,Pham Thi Hue,Viet Nam,4/8/1993,Female,NaN,Have +7 years of experience in the software de...,{'university': 'Post & Telecommunications Inst...,English,"['PHP', 'Nodejs', 'Python']","['PhpStorm', 'Trello', 'Backlog', 'Gitlab', 'J...",NaN,NaN,NaN,"['PostgreSQL', 'MySQL', 'Redis', 'phpMyAdmin']",NaN,NaN,NaN
27,Thai Minh Tuan,Viet Nam,29/09/2001,Male,1 years,4 years of experience at Cloud Pre-Sales\r\n4 ...,{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'Around 70...",{'Bash Script': 'Medium'},"{'Grafana': 'High', 'Prometheus': 'High'}",{'AWS CloudFormation': 'Medium'},NaN,"{'Windows': 'Medium', 'Linux': 'High'}",NaN,"{'AWS': 'High', 'Azure': 'Medium'}","[{'project name': 'HVN AWS Support', 'customer...",[{'certification': 'AWS Certified Security Spe...
28,Tran Nhan Ton,Viet Nam,8/3/1993,Male,NaN,NaN,{'university': 'Hoc vien Cong nghe Buu chinh V...,English,"['Java', 'C', 'C++', 'Kotlin']","['Figma', 'Zeplin', 'Sketch', 'Adobe XD', 'Bit...",NaN,NaN,"['Windows', 'iOS', 'Android OS', 'MacOS']","['MySQL', 'SQLite']",NaN,NaN,NaN
29,Pham Quang Vinh,Viet Nam,2003,Male,< 1 year,"Knowledge of cloud platforms, particularly AWS...",{'university': 'Hanoi University of Science an...,"['Vietnamese', 'English']","['Python', 'C', 'SQL', 'Java']",NaN,NaN,NaN,"['Windows', 'Linux']","['MySQL', 'SQL server', 'DynamoDB']",['AWS'],[{'project name': 'Image Classification model'...,NaN
30,Tran Minh Khuong,Viet Nam,14/10/2000,Male,2 years,2 years of experience at developement online l...,"[{'University': 'College FPT Polytechnic', 'Ye...","[{'Language': 'Vietnamese', 'Level': 'Native'}...","['Java', 'Javascript', 'Python']","['Trello', 'Github', 'Gitlab']",NaN,NaN,"['Windows', 'Linux']","['MySQL', 'Oracle', 'Redis', 'MongoDB']",['AWS'],[{'Project Name': 'FUNiX Online Education Syst...,[{'Certification': 'IBM Full Stack Software De...
31,Bui Duc Anh,Viet Nam,8/24/1990 0:00,Male,NaN,3 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,English,"['Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS Codepipeline', 'CodeBuild', 'GitlabCI', ...","['Docker', 'Podman', 'Kurbernetes', 'Openshift']","['Windows', 'Linux', 'Ubuntu']",PostgresSQL,AWS,"[{'project name': 'SPPL Microservice', 'custom...",NaN
32,Chu Ngoc Minh,Viet Nam,7/12/1998 0:00,Male,4 years,3 years of experience in the Software Engineer...,{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5...",['Bash Script'],"['Grafana', 'CloudWatch', 'Prometheus']",['AWS CloudFormation'],['Docker'],"['Windows', 'Linux']",['PostgresSQL'],"['AWS', 'Azure']",[{'project name': 'SPPL Microservices platform...,['AWS Certified Solutions Architect Associate'...
33,Hoang Dong Hoan,Viet Nam,7-Sep-98,Male,NaN,NaN,"{'university': 'Foreign Trade University', 'ye...",English,Python,Visual Studio Code,NaN,NaN,"['Windows', 'Linux']",MySQL,Amazon Web Service,"[{'project name': 'HVN AWS Support', 'customer...",NaN
34,Hoang Thu Phuong,Viet Nam,2003,Female,<1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'FPT University and Technology ...,"['Vietnamese', 'English']","['Java', 'Scala', 'HiveSql']","['Databrick', 'Apache Spark', 'AWS Glue', 'AWS...",NaN,['Docker'],"['Windows', 'Linux']","['MySQL', 'DynamoDB', 'SQL Server', 'Postgresql']",['AWS'],"[{'project name': 'USMH_Search Engine', 'custo...",NaN
35,Huynh Thanh Tu,Viet Nam,10/11/2002 0:00,Male,<1 years,"Deep understanding in AWS services, and AWS Pr...",{'university': 'British University Vietnam (BU...,"['Vietnamese', 'English']","['Python', 'Bash Script']",['AWS CloudWatch'],"['Terraform', 'AWS CloudFormation', 'Ansible']","['Docker', 'ECS', 'ECR']","['Windows', 'Linux']","['MySQL', 'SQL Server', 'PosgreSQL', 'DynamoDB']","['AWS', 'GCP']","[{'project name': 'APC Devops', 'customer': 'J...",[{'name': 'AWS Certified Solution Architect As...
36,Nguyen Duc Thang,Viet Nam,2001,Male,+3 years,3 years of experience in the computer software...,{'university': 'VNU University of Engineering ...,"['Vietnamese', 'English']","['Python', 'Java', 'SQL', 'Bash Script', 'Scal...","['Grafana', 'Prometheus', 'NetApp', 'AWS Cloud...","['AWS DevOps stack', 'GCP DevOps stack', 'Gitl...","['Kafka', 'ECS', 'Kurbernetes', 'EKS', 'Docker']","['Windowns', 'Linux']","['MySQL', 'MongoDB', 'DynamoDB', 'PostgreSQL',...","['AWS', 'Azure', 'GCP']","[{'project name': 'APC', 'customer': 'Japanese...",['AWS Certified Solution Architect Professiona...
37,Nguyen Gia Tung,Viet Nam,29/09/1994,Male,4 years,"4 years of experience at Cloud Pre-Sales, 4 ye...",{'university': 'Hanoi University of Science an...,"['Vietnamese', 'English']",['Bash Script'],"['Grafana', 'Prometheus']",['AWS CloudFormation'],NaN,"['Windows', 'Linux']",NaN,"['AWS', 'Azure']","[{'project name': 'HVN AWS Support', 'customer...","['AWS Certified Security Specialty', 'AWS Cert..."
38,Nguyen Phu Quan,Viet Nam,10/28/2001 0:00,Male,2 year,3 years of experience in the computer software...,"{'university': 'TLU ThuyLoi University', 'year...","['Vietnamese', 'English']","['Python', 'Bash Script', 'SQL', 'Java']","['AWS Cloudwatch', 'Cloud Monitoring', 'Pub-Su...","['AWS DevOps stack', 'Gitlab-CI', 'TerraForm',...",['ECS'],"['Windowns', 'Linux']","['RDS', 'MySQL', 'DynamoDB', 'PostgreSQL', 'My...","['AWS', 'GCP']","[{'project name': 'Mitsutoyo Keisoku', 'custom...",[{'certification': 'AWS Certified Solution Arc...
39,Dang The Anh,Viet Nam,1998,Male,4 years,3 years of experience in the computer software...,{'university': 'Water Resources University Inf...,"{'Vietnamese': 'Native', 'English': 'Toeic 600'}","['Python', 'SQL', 'Bash Script']","['Grafana', 'Prometheus', 'NetApp', 'AWS Cloud...","['AWS DevOps stack', 'GCP DevOps stack', 'Gitl...","['Kafka', 'ECS', 'Kurbernetes', 'EKS', 'Docker']","['Windows', 'Linux']","['MySQL', 'MongoDB', 'DynamoDB', 'PostgreSQL',...","['AWS', 'Azure', 'GCP']","[{'project name': 'APC', 'customer': 'Japanese...",[{'certification': 'AWS Certified Solution Arc...
40,Do Xuan Hiep,Viet Nam,2/23/2002 0:00,Male,NaN,1 year work as Devops Engineer. Experience in ...,{'university': 'VNU University of Engineering ...,NaN,"['Java', 'Python', 'Type Script']","['CloudWatch', 'Grafana', 'Prometheus']","['ArgoCD', 'Gitlab CI', 'Jenkins', 'Terraform'...","['Docker', 'K8s', 'Openshift']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'MariaDB']","['AWS', 'Azure']","[{'project name': 'SPPL', 'customer': None, 'p...",[{'certification': 'CKA Certified Kubernetes A...
41,Bui Manh Phuc,Viet Nam,2000,Male,2 years,1 year of experience in CI/CD pipeline deploym...,{'university': 'PTIT Post and Telecommunicatio...,"['Vietnamese', 'English']","['Python', 'SQL', 'Bash Script', 'PowerShell']",NaN,"['Jenkins', 'GitHub CI']",['Docker'],"['Windows', 'Linux', 'Android']","['MySQL', 'MSSQL']","['GCP', 'OCI', 'DigiOcean']","[{'project name': 'FCCL', 'customer': 'Global ...","['AWS Certified SysOps Administrator', 'IELTS ..."
42,Nguyen Cong Tuan Phuong,Viet Nam,2000,Male,2 years,1 year of experience in System Administration....,{'University': 'University of Engineering and ...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5'}","{'Python': 'Low', 'Bash Script': 'Medium'}",NaN,"{'AWS CloudFormation': 'High', 'Terraform': 'L...",NaN,"{'Windows': 'Medium', 'Linux': 'Medium'}","{'MySQL': 'Medium', 'DMS': 'High', 'Athena': '...","{'AWS': 'High', 'Azure': 'Low', 'GCP': 'Low'}","[{'project name': 'FCCL', 'customer': 'Global ...",NaN
43,Luong Ba Hoang,Viet Nam,2/4/2000 0:00,Male,NaN,DevOps professional with +2 years of experienc...,"{'university': None, 'years': '07/2018 - 06/20...",English,"['Java', 'Python', 'Type Script']","['CloudWatch', 'ELK Stack', 'Grafana', 'Promet...","['ArgoCD', 'Gitlab CI', 'Jenkins', 'Terraform'...","['Docker', 'K8s', 'Openshift']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Azure']","[{'project name': 'SPPL', 'customer': None, 'p...",['AWS Certified DevOps Engineer Professional (...
44,Hoang Dang Khoa,Viet Nam,8-Jul-97,Male,5 years,Seasoned Database Administrator offering 3+ ye...,{'university': 'Ha Noi vocational college of t...,English,"['PHP', 'Python']","['Visual Studio Code', 'Gitlab']","['Gitlab CI/CD', 'Ansible', 'Terraform']","['Docker', 'Kubernetes']",Linux,"['PostgreSQL', 'Redis', 'MySQL']",AWS,"[{'project name': 'APC Devops', 'customer': 'S...",AWS Certified Solutions Architect~Associate
45,Mai Thanh Liem,Viet Nam,30-Mar-98,Male,NaN,NaN,{'university': 'Hanoi University of Science Vi...,English,Python,Visual Studio Code,NaN,NaN,"['Windows', 'Linux']",MySQL,Amazon Web Service,"[{'project name': 'SYDS', 'customer': 'Global ...",NaN
46,Phuong Xuan Thai,Viet Nam,5-Jan-98,Male,NaN,NaN,{'university': 'Academy of Cryptography Techni...,English,"['Java', '.NET', 'Python', 'Angular']","['Eclipse', 'Visual Studio Code', 'Visual Stud...","['Gitlab CI/CD', 'Argo CD', 'Terraform']","['Docker', 'Kubernetes', 'Rancher', 'Helm Char...",Linux,"['PostgreSQL', 'Redis', 'MariaDB']",['AWS'],"[{'project name': 'HUMAN CAPITAL MANAGEMENT', ...",NaN

In [18]:
import pandas as pd
import ast

def standardize_languages(entry):
    # Handle missing or empty entries
    if not entry or pd.isna(entry):
        return {}

    # Try to safely evaluate the string to a Python object
    try:
        parsed = ast.literal_eval(entry)
    except Exception:
        parsed = entry  # If evaluation fails, assume it's a plain string

    # If it's a dictionary, keep the original values (levels)
    if isinstance(parsed, dict):
        return parsed

    # If it's a list, check the type of its items
    elif isinstance(parsed, list):
        # If it's a list of dictionaries (e.g., [{'Language': 'Vietnamese', 'Level': 'Native'}, ...])
        if all(isinstance(item, dict) for item in parsed):
            result = {}
            for item in parsed:
                language = item.get("Language")
                # Get the level if available, otherwise default to None
                level = item.get("Level", None)
                if language:
                    result[language] = level
            return result
        # If it's a list of strings (e.g., ['Vietnamese', 'English'])
        elif all(isinstance(item, str) for item in parsed):
            return {lang: None for lang in parsed}
        else:
            return {}

    # If it is a plain string, assume it's a single language with no level information
    elif isinstance(parsed, str):
        return {parsed: None}

    else:
        return {}

# Read the CSV file
df = pd.read_csv('name_lang_data.csv')

# Apply the transformation to the 'Languages' column
df['Languages'] = df['Languages'].apply(standardize_languages)

# Save the modified DataFrame to a new CSV file
df.to_csv('name_lang.csv', index=False)

# Show the resulting DataFrame
print(df)

                  Name                                          Languages
0            Vu Viet A              {'Vietnamese': None, 'English': None}
1            Bui Duc A                                  {'English': None}
2             To Quy T              {'Vietnamese': None, 'English': None}
3          Pham Viet H  {'Vietnamese': None, 'Japanese': None, 'Englis...
4       Doan Dinh Vu C  {'Vietnamese': None, 'Japanese': None, 'Englis...
5             Le Huu M              {'Vietnamese': None, 'English': None}
6              Le Sy Q              {'Vietnamese': None, 'English': None}
7          Ngo Thach A  {'Vietnamese': None, 'Japanese': None, 'Englis...
8     Nguyen Phi Hai N  {'Vietnamese': 'Native', 'English': 'C1 Advanc...
9    NGUYEN THI HONG N  {'Vietnamese': None, 'Japanese': None, 'Englis...
10        Nguyen Hai M                  {'Korean': None, 'English': None}
11      Nguyen Quang H                                  {'English': None}
12     Pham Thi Minh L  {'Vietnamese': None, 'Japanese': None, 'Englis...
13     Pham Thi Minh L  {'Vietnamese': None, 'Japanese': None, 'Englis...
14           Vu Viet A              {'Vietnamese': None, 'English': None}
15            Do Van H                                  {'English': None}
16         Luong Van H                                  {'English': None}
17     Nguyen Thanh Ph                                  {'English': None}
18         Nguyen Ha P              {'Vietnamese': None, 'English': None}
19          Pham Thu T                  {'English': None, 'Korean': None}
20      Tran Thi Kim B                                  {'English': None}
21         Tran Tien D                                                 {}
22        Tran Trong N                                                 {}
23     Nguyen Phuong C  {'Vietnamese': None, 'English': None, 'Japanes...
24         Luong Van H                                  {'English': None}
25      Nguyen Duyen M                                  {'English': None}
26          Pham Thi H                                  {'English': None}
27         Thai Minh T  {'Vietnamese': 'Native', 'English': 'Around 70...
28         Tran Nhan T                                  {'English': None}
29        Pham Quang V              {'Vietnamese': None, 'English': None}
30         Tran Minh K  {'Vietnamese': 'Native', 'English': 'Intermedi...
31           Bui Duc A                                  {'English': None}
32          Chu Ngoc M  {'Vietnamese': 'Native', 'English': 'IELTS 6.5...
33        Hoang Dong H                                  {'English': None}
34         Hoang Thu P              {'Vietnamese': None, 'English': None}
35       Huynh Thanh T              {'Vietnamese': None, 'English': None}
36        Nguyen Duc T              {'Vietnamese': None, 'English': None}
37        Nguyen Gia T              {'Vietnamese': None, 'English': None}
38        Nguyen Phu Q              {'Vietnamese': None, 'English': None}
39          Dang The A   {'Vietnamese': 'Native', 'English': 'Toeic 600'}
40           Do Xuan H                                                 {}
41          Bui Manh P              {'Vietnamese': None, 'English': None}
42  Nguyen Cong Tuan P   {'Vietnamese': 'Native', 'English': 'IELTS 6.5'}
43          Luong Ba H                                  {'English': None}
44        Hoang Dang K                                  {'English': None}
45         Mai Thanh L                                  {'English': None}
46       Phuong Xuan T                                  {'English': None}