In [26]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
import os
import json


import pandas as pd
import ast
import re

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\minh1\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [27]:
pd.read_csv("employee_information_raw.csv")

,Name,Nationality,DOB,Sex,Seniority,About,Education,Languages,Programing Language,Tool,Automation/Orchestration tool,Microservice,OS,Database,Public Cloud,Projects Experience,Certifications
0,Vu Viet A,Viet Nam,1993,Male,7+ years,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","['Vietnamese', 'English']",NaN,"['Redmine', 'Grafana', 'Jira', 'Zabbix', 'MS O...","['Windows', 'Linux']",NaN,"['Windows', 'Linux']","['SQL Server', 'My SQL']",NaN,"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",NaN
1,Bui Duc A,Viet Nam,1990,Male,NaN,2 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,English,"['Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS Codepipeline', 'CodeBuild', 'GitlabCI', ...","['Docker', 'Kurbernetes']","['Windows', 'Linux', 'Ubuntu']",PostgresSQL,AWS,"[{""project name"": ""USHM"", ""customer"": ""Japan c...",NaN
2,To Quy T,Viet Nam,2003,Male,< 1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'HAUI Hanoi University of Indus...,"['Vietnamese', 'English']","['Python', 'C++', 'SQL', 'Bash Script', 'Scala...","['Databrick', 'Apache Spark', 'AWS Glue', 'AWS...",NaN,"['Kafka', 'Docker']","['Windows', 'Linux']","['MySQL', 'DynamoDB']",['AWS'],"[{""project name"": ""USMH"", ""customer"": ""Japanes...",NaN
3,Pham Viet H,Viet Nam,1993,Male,5 years,8 years of experience in the computer software...,{'university': 'Hanoi University of Science an...,"['Vietnamese', 'Japanese', 'English']","['Python', 'Bash Script']","['Grafana', 'Prometheus', 'Graylog']","['AWS CloudFormation', 'Ansible', 'Jenkins', '...","['Docker', 'ECS', 'ECR', 'Kurbernetes']","['Windows', 'Linux']","['MySQL', 'MongoDB', 'Oracle', 'DMS', 'Athena'...","['AWS', 'Azure', 'GCP']","[{""project name"": ""Cloud Group Leader"", ""custo...","['AWS Certified DevOps Engineer Professional',..."
4,Doan Dinh Vu C,Viet Nam,1997,Male,3.5 years,"I am a responsible, dedicated and proactive pe...","{'university': 'FPT University', 'years': '201...","['Vietnamese', 'Japanese', 'English']","['Java Spring Boost', 'Java Core', 'C#']","['Visual Studio Code', 'Eclipse', 'IntelliJ', ...",['Selenium'],NaN,['Windows'],"['MS SQL', 'My SQL', 'Postgre SQL']",['Nifcloud'],"[{""project name"": ""FCCL_Monitor_D3"", ""customer...",NaN
5,Le Huu M,Viet Nam,1994,Male,6+ years,6 years of experience in Operation System.Know...,"{'university': 'FPT Polytechnic', 'years': 'Now'}","['Vietnamese', 'English']",NaN,"['Redmine', 'Jira', 'CheckMK', 'Zabbix', 'Graf...",NaN,NaN,"['Windows', 'Linux']","['SQL Server', 'MS SQL']",['AWS'],"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",NaN
6,Le Sy Q,Viet Nam,1993,Male,7+ years,"4+ years of experience in Developer, 2+ years ...",{'university': 'Hanoi University of Mining and...,"['Vietnamese', 'English']",NaN,['Redmine'],['Postman'],NaN,NaN,"['SQL Server', 'My SQL', 'PostgreSQL']",NaN,"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",NaN
7,Ngo Thach A,Viet Nam,1994,Male,2 years,"2 year of experience in Operation System, Know...",{'university': 'Nam Dinh Industrial College Ni...,"['Vietnamese', 'Japanese', 'English']",NaN,"['Redmine', 'Grafana', 'IntelliJ', 'Visual Stu...",NaN,NaN,"['Windows', 'Linux']","['My SQL', 'Oracle']",NaN,"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",NaN
8,Nguyen Phi Hai N,Viet Nam,2001,Male,3+ years,2+ years of experience in Website Testing Mobi...,"{'university': 'Hanoi University', 'years': '2...","{'Vietnamese': 'Native', 'English': 'C1 Advanc...",NaN,"Redmine, Backlog, MS Office","Postman, Katalon Studio, Test Cafe",NaN,"Windows, Centos 7","SQL Server, My SQL, PostgreSQL, DBeaver, MongoDB",AWS,"[{""project name"": ""EXV_Installation_Checksheet...",NaN
9,NGUYEN THI HONG N,Viet Nam,2000,Female,2 years,Over 2 years of experience working as a sub-PM...,{'University': 'University of Languages & Inte...,"['Vietnamese', 'Japanese', 'English']",['HTML/CSS'],"['Redmine', 'Backlog', 'Jira', 'MS Office', 'd...",NaN,NaN,"['Windows', 'MacOSX']",['MySQL'],NaN,"[{""project name"": ""System and Infra Monitoring...","['Japanese-Language Proficiency Test N2', 'ITI..."
10,Nguyen Hai M,Viet Nam,1996,Female,~3 years,3 years of experience in Software Development ...,"[{'university': 'Ha Noi University', 'years': ...","['Korean', 'English']",NaN,"['Microsoft Word', 'Microsoft Excel', 'Microso...",NaN,NaN,NaN,NaN,NaN,"[{""project name"": ""Development of internal sta...","[{'certification': 'TOPIK Level 6', 'validity'..."
11,Nguyen Quang H,Viet Nam,1997,Male,NaN,4 years of experience in the computer software...,{'University': 'University of Transport and co...,English,"['Java', 'Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS CloudFormation', 'AWS Codepipeline', 'Co...","['Docker', 'ECS', 'ECR', 'Kurbernetes']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Azure']","[{""project name"": ""MSH"", ""customer"": ""Singapor...","['Azure Database Administrator Associate', 'AW..."
12,Pham Thi Minh L,Viet Nam,1992,Female,9 years,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"['Vietnamese', 'Japanese', 'English']","['Java', 'Python']","['Redmine', 'Backlog', 'Jira', 'MS Office', 'd...",['UIPath Studio'],NaN,"['Windows', 'MacOSX']","['MS SQL', 'My SQL', 'Postgre SQL']",['AWS'],"[{""project name"": ""Ashisuto"", ""customer"": ""Con...","['ITIL 4 Foundation', 'ISTQB Advance (CTAL-TM ..."
13,Pham Thi Minh L,Viet Nam,1992,Female,9 years,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"['Vietnamese', 'Japanese', 'English']","['Java', 'Python']","['Redmine', 'backlog', 'Jira', 'MS Office', 'd...","['UIPath Studio', 'Jenkins']",NaN,"['Windows', 'MacOSX']","['MS SQL', 'My SQL', 'Postgre SQL']",['AWS'],"[{""project name"": ""Operation manager"", ""custom...","['ITIL 4 Foundation', 'ISTQB Advance', 'PMI-AC..."
14,Vu Viet A,Viet Nam,1993,Male,7+ years,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","['Vietnamese', 'English']",NaN,"['Redmine', 'Grafana', 'Jira', 'Zabbix', 'MS O...","['Windows', 'Linux']",NaN,"['Windows', 'Linux']","['SQL Server', 'My SQL']",NaN,"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",NaN
15,Do Van H,Viet Nam,2001,Male,NaN,2 years of experience in Java,"{'university': 'FPT Aptech', 'years': '07/2019...",English,"['Java', 'Typescript']","['Eclipse', 'Visual Studio', 'Netbeans', 'Inte...",NaN,['Docker'],NaN,"['SQLServer', 'Oracle', 'PostgreSQL', 'MySQL']",['AWS'],"[{""project name"": ""L Project"", ""customer"": ""Ko...",NaN
16,Luong Van H,Viet Nam,1991,Male,NaN,9 years of experience in the computer software...,{'university': 'Ha Noi University of Science A...,English,"['Java', 'Python', 'Bash Script', 'Javascript']","['Eclipse', 'Intellij', 'VSCode']","['Git', 'SVN']",['Docker'],NaN,"['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Google cloud']","[{""project name"": ""L Project"", ""customer"": ""Ja...",NaN
17,Nguyen Thanh Ph,Viet Nam,1999,Male,NaN,"2 years of experience in PHP, VueJs, Typescrip...","{'university': 'FPT POLYTECHNIC COLLEGE', 'yea...",English,"['PHP', 'VueJs', 'Typescript', 'Javascript']","['PHPStorm', 'Visual Studio']",NaN,NaN,NaN,MySQL,AWS,"[{""project name"": ""L Project"", ""customer"": ""Ko...",NaN
18,Nguyen Ha P,Viet Nam,1990,Male,5+ years,5+ years of experience in Software Testing. Ex...,"{'university': 'FPT University', 'years': '201...","['Vietnamese', 'English']","['HTML', 'Java', 'Python']","['Backlog', 'Jira', 'Redmine']","['Selenium', 'Robot Framework', 'Katalon', 'Po...",NaN,NaN,"['Oracle', 'MariaDB', 'PostgreSQL', 'My SQL', ...",NaN,"[{""project_name"": ""EXD_EDION_IC"", ""customer"": ...",NaN
19,Pham Thu T,Viet Nam,2002,Female,NaN,"1 years of experience in Laravel,PHP",{'university': 'Cao dang thuc hanh FPT Polytec...,"['English', 'Korean']",['PHP'],"['Postman', 'Adobe XD', 'Figma', 'Notepad++', ...",NaN,NaN,"['Ubuntu', 'Windows']","['MySQL', 'Oracle']",NaN,NaN,['Top Notch 2.2']
20,Tran Thi Kim B,Viet Nam,2002,Female,NaN,1 years of experience in Java,{'University': 'University of Engineering and ...,English,Java,"['VSCode', 'IntelliJ', 'Eclipse']",NaN,Docker,NaN,MySQL,AWS,"[{""project name"": ""L Project"", ""customer"": ""Ko...",NaN
21,Tran Tien D,Viet Nam,2001,Male,NaN,I don't have experience,"{'university': 'Dai hoc Cong nghiep Ha Noi', '...",NaN,PHP,"['Visual Studio', 'Notepad++', 'Redmine', 'Jir...",NaN,NaN,"['Windows', 'Ubuntu']","['SQLServer', 'MySQL']",NaN,NaN,NaN
22,Tran Trong N,Viet Nam,1996,Male,NaN,3 years of experience in the Cloud Computing. ...,{'university': 'Hoc vien Cong nghe Buu chinh V...,NaN,"['PHP', 'TypeScript']","['Postman', 'Jira', 'Github', 'Gitlab']",NaN,['Docker'],"['Windows', 'Ubuntu']",['MySQL'],['AWS'],NaN,"['AWS SAA', 'AWS cloud practitioner']"
23,Nguyen Phuong C,Viet Nam,2001,Female,1 year,I am a proficient software tester with experie...,{'University': 'University of Languages and In...,"['Vietnamese', 'English', 'Japanese']",NaN,"['Redmine', 'Jira', 'Backlog', 'Katalon Studio...",NaN,NaN,NaN,"['MySQL', 'Oracle', 'Mongo']",['AWS'],"[{""project name"": ""Project_IC"", ""customer"": ""J...","['ISTQB Foundation (CTFL)', 'JLPT N2', 'IELTS ..."
24,Luong Van H,Viet Nam,1990,Male,NaN,9 years of experience in the computer software...,{'university': 'Ha Noi University of Science A...,English,"['Java', 'Python', 'Bash Script', 'C++']",['Vangrind'],['Jenkins'],['Docker'],"['Windows', 'Linux', 'MacOS']","['MySQL', 'PostgresSQL', 'Oracle SQL']",['AWS'],"[{""project name"": ""JACIC"", ""customer"": ""Japan ...",NaN
25,Nguyen Duyen M,Viet Nam,1993,Male,NaN,2 years of experiece in PHP,"{'university': 'Dai hoc Thuy Loi', 'years': '0...",English,PHP,"['PHP storm', 'Visual Studio', 'ERP']",NaN,NaN,"['Windows', 'Linux']",MySQL,NaN,NaN,NaN
26,Pham Thi H,Viet Nam,1993,Female,NaN,Have +7 years of experience in the software de...,{'university': 'Post & Telecommunications Inst...,English,"['PHP', 'Nodejs', 'Python']","['PhpStorm', 'Trello', 'Backlog', 'Gitlab', 'J...",NaN,NaN,NaN,"['PostgreSQL', 'MySQL', 'Redis', 'phpMyAdmin']",NaN,NaN,NaN
27,Thai Minh T,Viet Nam,2001,Male,1 years,"4 years of experience at Cloud Pre-Sales,4 yea...",{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'Around 70...",{'Bash Script': 'Medium'},"{'Grafana': 'High', 'Prometheus': 'High'}",{'AWS CloudFormation': 'Medium'},NaN,"{'Windows': 'Medium', 'Linux': 'High'}",NaN,"{'AWS': 'High', 'Azure': 'Medium'}","[{""project name"": ""HVN AWS Support"", ""customer...",[{'certification': 'AWS Certified Security Spe...
28,Tran Nhan T,Viet Nam,1993,Male,NaN,"1 year of experience in Kotlin, Mobile Native ...",{'university': 'Hoc vien Cong nghe Buu chinh V...,English,"['Java', 'C', 'C++', 'Kotlin']","['Figma', 'Zeplin', 'Sketch', 'Adobe XD', 'Bit...",NaN,NaN,"['Windows', 'iOS', 'Android OS', 'MacOS']","['MySQL', 'SQLite']",NaN,NaN,NaN
29,Pham Quang V,Viet Nam,2003,Male,< 1 year,"Knowledge of cloud platforms, particularly AWS...",{'university': 'Hanoi University of Science an...,"['Vietnamese', 'English']","['Python', 'C', 'SQL', 'Java']",NaN,NaN,NaN,"['Windows', 'Linux']","['MySQL', 'SQL server', 'DynamoDB']",['AWS'],"[{""project name"": ""Image Classification model""...",NaN
30,Tran Minh K,Viet Nam,2000,Male,2 years,2 years of experience at developement online l...,"[{'University': 'College FPT Polytechnic', 'Ye...","[{'Language': 'Vietnamese', 'Level': 'Native'}...","['Java', 'Javascript', 'Python']","['Trello', 'Github', 'Gitlab']",NaN,NaN,"['Windows', 'Linux']","['MySQL', 'Oracle', 'Redis', 'MongoDB']",['AWS'],"[{""Project Name"": ""FUNiX Online Education Syst...",[{'Certification': 'IBM Full Stack Software De...
31,Bui Duc A,Viet Nam,1990,Male,NaN,3 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,English,"['Python', 'Bash Script']","['Grafana', 'Prometheus', 'NodeExporter', 'AWS...","['AWS Codepipeline', 'CodeBuild', 'GitlabCI', ...","['Docker', 'Podman', 'Kurbernetes', 'Openshift']","['Windows', 'Linux', 'Ubuntu']",PostgresSQL,AWS,"[{""project name"": ""SPPL Microservice"", ""custom...",NaN
32,Chu Ngoc M,Viet Nam,1990,Male,4 years,3 years of experience in the Software Engineer...,{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5...",['Bash Script'],"['Grafana', 'CloudWatch', 'Prometheus']",['AWS CloudFormation'],['Docker'],"['Windows', 'Linux']",['PostgresSQL'],"['AWS', 'Azure']","[{""project name"": ""SPPL Microservices platform...",['AWS Certified Solutions Architect Associate'...
33,Hoang Dong H,Viet Nam,1998,Male,NaN,"1 years of experience in Public Cloud, AWS.","{'university': 'Foreign Trade University', 'ye...",English,Python,Visual Studio Code,NaN,NaN,"['Windows', 'Linux']",MySQL,Amazon Web Service,"[{""project name"": ""HVN AWS Support"", ""customer...",NaN
34,Hoang Thu P,Viet Nam,2003,Female,<1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'FPT University and Technology ...,"['Vietnamese', 'English']","['Java', 'Scala', 'HiveSql']","['Databrick', 'Apache Spark', 'AWS Glue', 'AWS...",NaN,['Docker'],"['Windows', 'Linux']","['MySQL', 'DynamoDB', 'SQL Server', 'Postgresql']",['AWS'],"[{""project name"": ""USMH_Search Engine"", ""custo...",NaN
35,Huynh Thanh T,Viet Nam,2002,Male,<1 years,"Deep understanding in AWS services, and AWS Pr...",{'university': 'British University Vietnam (BU...,"['Vietnamese', 'English']","['Python', 'Bash Script']",['AWS CloudWatch'],"['Terraform', 'AWS CloudFormation', 'Ansible']","['Docker', 'ECS', 'ECR']","['Windows', 'Linux']","['MySQL', 'SQL Server', 'PosgreSQL', 'DynamoDB']","['AWS', 'GCP']","[{""project name"": ""APC Devops"", ""customer"": ""J...",[{'name': 'AWS Certified Solution Architect As...
36,Nguyen Duc T,Viet Nam,2001,Male,+3 years,3 years of experience in the computer software...,{'university': 'VNU University of Engineering ...,"['Vietnamese', 'English']","['Python', 'Java', 'SQL', 'Bash Script', 'Scal...","['Grafana', 'Prometheus', 'NetApp', 'AWS Cloud...","['AWS DevOps stack', 'GCP DevOps stack', 'Gitl...","['Kafka', 'ECS', 'Kurbernetes', 'EKS', 'Docker']","['Windowns', 'Linux']","['MySQL', 'MongoDB', 'DynamoDB', 'PostgreSQL',...","['AWS', 'Azure', 'GCP']","[{""project name"": ""APC"", ""customer"": ""Japanese...",['AWS Certified Solution Architect Professiona...
37,Nguyen Gia T,Viet Nam,1994,Male,4 years,"4 years of experience at Cloud Pre-Sales, 4 ye...",{'university': 'Hanoi University of Science an...,"['Vietnamese', 'English']",['Bash Script'],"['Grafana', 'Prometheus']",['AWS CloudFormation'],NaN,"['Windows', 'Linux']",NaN,"['AWS', 'Azure']","[{""project name"": ""HVN AWS Support"", ""customer...","['AWS Certified Security Specialty', 'AWS Cert..."
38,Nguyen Phu Q,Viet Nam,2001,Male,2 year,3 years of experience in the computer software...,"{'university': 'TLU ThuyLoi University', 'year...","['Vietnamese', 'English']","['Python', 'Bash Script', 'SQL', 'Java']","['AWS Cloudwatch', 'Cloud Monitoring', 'Pub-Su...","['AWS DevOps stack', 'Gitlab-CI', 'TerraForm',...",['ECS'],"['Windowns', 'Linux']","['RDS', 'MySQL', 'DynamoDB', 'PostgreSQL', 'My...","['AWS', 'GCP']","[{""project name"": ""Mitsutoyo Keisoku"", ""custom...",[{'certification': 'AWS Certified Solution Arc...
39,Dang The A,Viet Nam,1998,Male,4 years,3 years of experience in the computer software...,{'university': 'Water Resources University Inf...,"{'Vietnamese': 'Native', 'English': 'Toeic 600'}","['Python', 'SQL', 'Bash Script']","['Grafana', 'Prometheus', 'NetApp', 'AWS Cloud...","['AWS DevOps stack', 'GCP DevOps stack', 'Gitl...","['Kafka', 'ECS', 'Kurbernetes', 'EKS', 'Docker']","['Windows', 'Linux']","['MySQL', 'MongoDB', 'DynamoDB', 'PostgreSQL',...","['AWS', 'Azure', 'GCP']","[{""project name"": ""APC"", ""customer"": ""Japanese...",[{'certification': 'AWS Certified Solution Arc...
40,Do Xuan H,Viet Nam,2002,Male,NaN,1 year work as Devops Engineer. Experience in ...,{'university': 'VNU University of Engineering ...,NaN,"['Java', 'Python', 'Type Script']","['CloudWatch', 'Grafana', 'Prometheus']","['ArgoCD', 'Gitlab CI', 'Jenkins', 'Terraform'...","['Docker', 'K8s', 'Openshift']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'MariaDB']","['AWS', 'Azure']","[{""project name"": ""SPPL"", ""customer"": null, ""p...",[{'certification': 'CKA Certified Kubernetes A...
41,Bui Manh P,Viet Nam,2000,Male,2 years,1 year of experience in CI/CD pipeline deploym...,{'university': 'PTIT Post and Telecommunicatio...,"['Vietnamese', 'English']","['Python', 'SQL', 'Bash Script', 'PowerShell']",NaN,"['Jenkins', 'GitHub CI']",['Docker'],"['Windows', 'Linux', 'Android']","['MySQL', 'MSSQL']","['GCP', 'OCI', 'DigiOcean']","[{""project name"": ""FCCL"", ""customer"": ""Global ...","['AWS Certified SysOps Administrator', 'IELTS ..."
42,Nguyen Cong Tuan P,Viet Nam,2000,Male,2 years,1 year of experience in System Administration....,{'University': 'University of Engineering and ...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5'}","{'Python': 'Low', 'Bash Script': 'Medium'}",NaN,"{'AWS CloudFormation': 'High', 'Terraform': 'L...",NaN,"{'Windows': 'Medium', 'Linux': 'Medium'}","{'MySQL': 'Medium', 'DMS': 'High', 'Athena': '...","{'AWS': 'High', 'Azure': 'Low', 'GCP': 'Low'}","[{""project name"": ""FCCL"", ""customer"": ""Global ...",NaN
43,Luong Ba H,Viet Nam,2000,Male,NaN,DevOps professional with +2 years of experienc...,"{'university': None, 'years': '07/2018 - 06/20...",English,"['Java', 'Python', 'Type Script']","['CloudWatch', 'ELK Stack', 'Grafana', 'Promet...","['ArgoCD', 'Gitlab CI', 'Jenkins', 'Terraform'...","['Docker', 'K8s', 'Openshift']","['Windows', 'Linux', 'Ubuntu']","['MySQL', 'PostgresSQL', 'Oracle SQL']","['AWS', 'Azure']","[{""project name"": ""SPPL"", ""customer"": null, ""p...",['AWS Certified DevOps Engineer Professional (...
44,Hoang Dang K,Viet Nam,1997,Male,5 years,Seasoned Database Administrator offering 3+ ye...,{'university': 'Ha Noi vocational college of t...,English,"['PHP', 'Python']","['Visual Studio Code', 'Gitlab']","['Gitlab CI/CD', 'Ansible', 'Terraform']","['Docker', 'Kubernetes']",Linux,"['PostgreSQL', 'Redis', 'MySQL']",AWS,"[{""project name"": ""APC Devops"", ""customer"": ""S...",AWS Certified Solutions Architect~Associate
45,Mai Thanh L,Viet Nam,1998,Male,NaN,1 year of experience in AWS Cloud,{'university': 'Hanoi University of Science Vi...,English,Python,Visual Studio Code,NaN,NaN,"['Windows', 'Linux']",MySQL,Amazon Web Service,"[{""project name"": ""SYDS"", ""customer"": ""Global ...",NaN
46,Phuong Xuan T,Viet Nam,1998,Male,NaN,"I can infrastructure resources on AWS, Configu...",{'university': 'Academy of Cryptography Techni...,English,"['Java', '.NET', 'Python', 'Angular']","['Eclipse', 'Visual Studio Code', 'Visual Stud...","['Gitlab CI/CD', 'Argo CD', 'Terraform']","['Docker', 'Kubernetes', 'Rancher', 'Helm Char...",Linux,"['PostgreSQL', 'Redis', 'MariaDB']",['AWS'],"[{""project name"": ""HUMAN CAPITAL MANAGEMENT"", ...",NaN

In [28]:
lemmatizer = WordNetLemmatizer()

def standardize_seniority(entry):
    if not entry or pd.isna(entry):  # Kim tra nu entry khng c gi tr hoc l NaN
        return None
    try:
        parsed = ast.literal_eval(entry)  # Th chuyn entry thnh kiu d liu Python hp l
    except Exception:
        parsed = entry  # Nu khng thnh cng, gi nguyn entry
    if isinstance(parsed, str):  # Nu parsed l chui
        parsed = re.sub(r'(?<=\d)\.(?=\d)', 'DOTPLACEHOLDER', parsed)  # Thay th du chm gia cc s bng "DOTPLACEHOLDER"
        parsed = re.sub(r'[^\w\s]', '', parsed)  # Loi b cc k t c bit khng phi l ch ci hoc du cch
        parsed = parsed.replace('DOTPLACEHOLDER', '.')  # Khi phc li du chm  thay th
        tokens = parsed.split()  # Tch chui thnh cc t
        new_tokens = []
        for token in tokens:
            if token.isalpha():  # Nu token l ch ci
                lemma = lemmatizer.lemmatize(token.lower(), pos='n')  # Lematize t  dng s nhiu (danh t)
                new_tokens.append(lemma)
            else:
                # Gi nguyn cc token l s hoc c k t pha trn
                new_tokens.append(token)
        return " ".join(new_tokens)  # Kt hp li cc t  x l thnh chui
    else:
        return None  # Nu parsed khng phi l chui, tr v None

In [29]:
def standardize(entry):
    # X l trng hp d liu thiu hoc rng
    if not entry or pd.isna(entry):
        return {}

    #chuyn chui "" thnh i tng Python v d nh chui "['list','list1']" s thnh dng list : ['list','list1']
    try:
        parsed = ast.literal_eval(entry)
    except Exception:
        parsed = entry  # Nu khng th chuyn th coi y l mt chui n gin

    # Nu l dictionary, gi nguyn cc gi tr ban u (levels)
    if isinstance(parsed, dict):
        return parsed

    # Nu l list, kim tra kiu ca cc phn t trong danh sch
    elif isinstance(parsed, list):
        # Nu l list cc chui (v d: ['Vietnamese', 'English'])
        if all(isinstance(item, str) for item in parsed):
            text = []
            for item in parsed:
                # Nu chui cha du phy, tch n thnh nhiu phn
                if ',' in item:
                    text.extend([s.strip() for s in item.split(',') if s.strip()])
                elif '/' in item:
                    text.extend([s.strip() for s in item.split('/') if s.strip()])
                else:
                    text.append(item.strip())
            return {items: None for items in text}
        else:
            return {}

    # Nu l mt chui n gin
    elif isinstance(parsed, str):
        if ',' in parsed:
            text = [s.strip() for s in parsed.split(',') if s.strip()]
            return {word: None for word in text}
        elif '/' in parsed:
            text = [s.strip() for s in parsed.split('/') if s.strip()]
            return {word: None for word in text}
        else:
            return {parsed.strip(): None}

    else:
        return {}

In [30]:
def standardize_education(entry):
    """
    Chun ha d liu ct gio dc.
    - X l c dictionary n l v danh sch cc dictionary
    - Gi nguyn cu trc nhng m bo nh dng nht qun
    """
    if not entry or pd.isna(entry):
        return {}

    try:
        parsed = ast.literal_eval(entry)  # Chuyn chui thnh i tng Python
    except Exception:
        # Nu chuyn khng thnh cng, tr v dictionary rng
        return {}

    # X l trng hp l mt dictionary n l
    if isinstance(parsed, dict):
        # m bo tt c cc kha (key) u  dng ch thng
        return {k.lower(): v for k, v in parsed.items()}

    # X l trng hp l danh sch cc dictionary
    elif isinstance(parsed, list) and all(isinstance(item, dict) for item in parsed):
        # Chun ha mi dictionary trong danh sch
        return [{k.lower(): v for k, v in item.items()} for item in parsed]

    # Nu khng phi l dictionary hoc danh sch dictionary, tr v dictionary rng
    return {}

In [31]:
def standardize_certifications(entry):
    """
    Chun ha d liu ct chng ch.
    - X l c danh sch cc chui v danh sch cc dictionary
    - Gi nguyn cu trc nhng m bo nh dng nht qun
    """
    if not entry or pd.isna(entry):
        return []  # Nu d liu rng hoc NaN, tr v danh sch rng

    try:
        parsed = ast.literal_eval(entry)  # Chuyn chui thnh i tng Python
    except Exception:
        # Nu chuyn khng thnh cng, tr v danh sch rng
        return []

    # X l trng hp l danh sch cc chui
    if isinstance(parsed, list):
        if all(isinstance(item, str) for item in parsed):
            return parsed  # Nu tt c cc phn t l chui, gi nguyn danh sch

        # X l trng hp l danh sch cc dictionary
        elif all(isinstance(item, dict) for item in parsed):
            # Chun ha mi dictionary trong danh sch bng cch chuyn kha thnh ch thng
            return [{k.lower(): v for k, v in item.items()} for item in parsed]

    # X l trng hp l mt chui n l (him nhng c th xy ra)
    elif isinstance(parsed, str):
        return [parsed]  # Nu l chui, ng gi n trong mt danh sch

    return []  # Nu khng phi dng  d on, tr v danh sch rng

In [32]:
def fix_json_string(json_str):
    """
    Tin x l chui JSON:
    - Chuyn du nhy n thnh du nhy kp
    - Thay th None bng null
    """
    # Chuyn i du nhy n thnh du nhy kp
    fixed = json_str.replace("'", '"')
    # Thay th None (khng phn bit hoa thng) bng null
    fixed = fixed.replace("None", "null")
    return fixed

def process_projects_experience(pe):
    """
    X l chui trong ct Projects Experience:
    - Nu rng hoc '[]', tr v chnh n
    - Tin x l chui JSON, validate v tr v chui JSON chun (nu c)
    """
    if pd.isna(pe) or pe.strip() == "" or pe.strip() == "[]":
        return pe
    try:
        fixed = fix_json_string(pe)
        # Th parse chui JSON
        data = json.loads(fixed)
        # Nu parse thnh cng, chuyn v dng JSON chun (vi du nhy kp, escape ng cch)
        return json.dumps(data, ensure_ascii=False)
    except Exception as e:
        print("Error processing Projects Experience:", e)
        print("D liu gc:", pe)
        # Nu li, tr v chui  c fix (c th cn x l thm)
        return fixed

In [33]:
df = pd.read_csv('employee_information_raw.csv')
output_file = "employee_information.csv"

df[['Languages', 'Programing Language','Tool','Automation/Orchestration tool','Microservice','OS','Database','Public Cloud']] = df[['Languages', 'Programing Language','Tool','Automation/Orchestration tool','Microservice','OS','Database','Public Cloud']].map(standardize)

df['Seniority'] = df['Seniority'].apply(standardize_seniority)
df["Projects Experience"] = df["Projects Experience"].apply(process_projects_experience)

df['Education'] = df['Education'].apply(standardize_education)
df['Certifications'] = df['Certifications'].apply(standardize_certifications)

df.to_csv('employee_information.csv', index=False)
print("Tin x l CSV hon tt. File  c lu ti:", output_file)

Tin x l CSV hon tt. File  c lu ti: employee_information.csv

In [34]:
pd.read_csv("employee_information.csv", encoding='UTF-8')

,Name,Nationality,DOB,Sex,Seniority,About,Education,Languages,Programing Language,Tool,Automation/Orchestration tool,Microservice,OS,Database,Public Cloud,Projects Experience,Certifications
0,Vu Viet A,Viet Nam,1993,Male,7 year,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","{'Vietnamese': None, 'English': None}",{},"{'Redmine': None, 'Grafana': None, 'Jira': Non...","{'Windows': None, 'Linux': None}",{},"{'Windows': None, 'Linux': None}","{'SQL Server': None, 'My SQL': None}",{},"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",[]
1,Bui Duc A,Viet Nam,1990,Male,NaN,2 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,{'English': None},"{'Python': None, 'Bash Script': None}","{'Grafana': None, 'Prometheus': None, 'NodeExp...","{'AWS Codepipeline': None, 'CodeBuild': None, ...","{'Docker': None, 'Kurbernetes': None}","{'Windows': None, 'Linux': None, 'Ubuntu': None}",{'PostgresSQL': None},{'AWS': None},"[{""project name"": ""USHM"", ""customer"": ""Japan c...",[]
2,To Quy T,Viet Nam,2003,Male,1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'HAUI Hanoi University of Indus...,"{'Vietnamese': None, 'English': None}","{'Python': None, 'C++': None, 'SQL': None, 'Ba...","{'Databrick': None, 'Apache Spark': None, 'AWS...",{},"{'Kafka': None, 'Docker': None}","{'Windows': None, 'Linux': None}","{'MySQL': None, 'DynamoDB': None}",{'AWS': None},"[{""project name"": ""USMH"", ""customer"": ""Japanes...",[]
3,Pham Viet H,Viet Nam,1993,Male,5 year,8 years of experience in the computer software...,{'university': 'Hanoi University of Science an...,"{'Vietnamese': None, 'Japanese': None, 'Englis...","{'Python': None, 'Bash Script': None}","{'Grafana': None, 'Prometheus': None, 'Graylog...","{'AWS CloudFormation': None, 'Ansible': None, ...","{'Docker': None, 'ECS': None, 'ECR': None, 'Ku...","{'Windows': None, 'Linux': None}","{'MySQL': None, 'MongoDB': None, 'Oracle': Non...","{'AWS': None, 'Azure': None, 'GCP': None}","[{""project name"": ""Cloud Group Leader"", ""custo...","['AWS Certified DevOps Engineer Professional',..."
4,Doan Dinh Vu C,Viet Nam,1997,Male,3.5 year,"I am a responsible, dedicated and proactive pe...","{'university': 'FPT University', 'years': '201...","{'Vietnamese': None, 'Japanese': None, 'Englis...","{'Java Spring Boost': None, 'Java Core': None,...","{'Visual Studio Code': None, 'Eclipse': None, ...",{'Selenium': None},{},{'Windows': None},"{'MS SQL': None, 'My SQL': None, 'Postgre SQL'...",{'Nifcloud': None},"[{""project name"": ""FCCL_Monitor_D3"", ""customer...",[]
5,Le Huu M,Viet Nam,1994,Male,6 year,6 years of experience in Operation System.Know...,"{'university': 'FPT Polytechnic', 'years': 'Now'}","{'Vietnamese': None, 'English': None}",{},"{'Redmine': None, 'Jira': None, 'CheckMK': Non...",{},{},"{'Windows': None, 'Linux': None}","{'SQL Server': None, 'MS SQL': None}",{'AWS': None},"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",[]
6,Le Sy Q,Viet Nam,1993,Male,7 year,"4+ years of experience in Developer, 2+ years ...",{'university': 'Hanoi University of Mining and...,"{'Vietnamese': None, 'English': None}",{},{'Redmine': None},{'Postman': None},{},{},"{'SQL Server': None, 'My SQL': None, 'PostgreS...",{},"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",[]
7,Ngo Thach A,Viet Nam,1994,Male,2 year,"2 year of experience in Operation System, Know...",{'university': 'Nam Dinh Industrial College Ni...,"{'Vietnamese': None, 'Japanese': None, 'Englis...",{},"{'Redmine': None, 'Grafana': None, 'IntelliJ':...",{},{},"{'Windows': None, 'Linux': None}","{'My SQL': None, 'Oracle': None}",{},"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",[]
8,Nguyen Phi Hai N,Viet Nam,2001,Male,3 year,2+ years of experience in Website Testing Mobi...,"{'university': 'Hanoi University', 'years': '2...","{'Vietnamese': 'Native', 'English': 'C1 Advanc...",{},"{'Redmine': None, 'Backlog': None, 'MS Office'...","{'Postman': None, 'Katalon Studio': None, 'Tes...",{},"{'Windows': None, 'Centos 7': None}","{'SQL Server': None, 'My SQL': None, 'PostgreS...",{'AWS': None},"[{""project name"": ""EXV_Installation_Checksheet...",[]
9,NGUYEN THI HONG N,Viet Nam,2000,Female,2 year,Over 2 years of experience working as a sub-PM...,{'university': 'University of Languages & Inte...,"{'Vietnamese': None, 'Japanese': None, 'Englis...","{'HTML': None, 'CSS': None}","{'Redmine': None, 'Backlog': None, 'Jira': Non...",{},{},"{'Windows': None, 'MacOSX': None}",{'MySQL': None},{},"[{""project name"": ""System and Infra Monitoring...","['Japanese-Language Proficiency Test N2', 'ITI..."
10,Nguyen Hai M,Viet Nam,1996,Female,3 year,3 years of experience in Software Development ...,"[{'university': 'Ha Noi University', 'years': ...","{'Korean': None, 'English': None}",{},"{'Microsoft Word': None, 'Microsoft Excel': No...",{},{},{},{},{},"[{""project name"": ""Development of internal sta...","[{'certification': 'TOPIK Level 6', 'validity'..."
11,Nguyen Quang H,Viet Nam,1997,Male,NaN,4 years of experience in the computer software...,{'university': 'University of Transport and co...,{'English': None},"{'Java': None, 'Python': None, 'Bash Script': ...","{'Grafana': None, 'Prometheus': None, 'NodeExp...","{'AWS CloudFormation': None, 'AWS Codepipeline...","{'Docker': None, 'ECS': None, 'ECR': None, 'Ku...","{'Windows': None, 'Linux': None, 'Ubuntu': None}","{'MySQL': None, 'PostgresSQL': None, 'Oracle S...","{'AWS': None, 'Azure': None}","[{""project name"": ""MSH"", ""customer"": ""Singapor...","['Azure Database Administrator Associate', 'AW..."
12,Pham Thi Minh L,Viet Nam,1992,Female,9 year,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"{'Vietnamese': None, 'Japanese': None, 'Englis...","{'Java': None, 'Python': None}","{'Redmine': None, 'Backlog': None, 'Jira': Non...",{'UIPath Studio': None},{},"{'Windows': None, 'MacOSX': None}","{'MS SQL': None, 'My SQL': None, 'Postgre SQL'...",{'AWS': None},"[{""project name"": ""Ashisuto"", ""customer"": ""Con...","['ITIL 4 Foundation', 'ISTQB Advance (CTAL-TM ..."
13,Pham Thi Minh L,Viet Nam,1992,Female,9 year,9 plus years of experience in the computer sof...,{'university': 'National University of Civil E...,"{'Vietnamese': None, 'Japanese': None, 'Englis...","{'Java': None, 'Python': None}","{'Redmine': None, 'backlog': None, 'Jira': Non...","{'UIPath Studio': None, 'Jenkins': None}",{},"{'Windows': None, 'MacOSX': None}","{'MS SQL': None, 'My SQL': None, 'Postgre SQL'...",{'AWS': None},"[{""project name"": ""Operation manager"", ""custom...","['ITIL 4 Foundation', 'ISTQB Advance', 'PMI-AC..."
14,Vu Viet A,Viet Nam,1993,Male,7 year,4+ years of experience in Operation System. Kn...,"{'university': 'Academy of Fice', 'years': '20...","{'Vietnamese': None, 'English': None}",{},"{'Redmine': None, 'Grafana': None, 'Jira': Non...","{'Windows': None, 'Linux': None}",{},"{'Windows': None, 'Linux': None}","{'SQL Server': None, 'My SQL': None}",{},"[{""project name"": ""FCCL"", ""customer"": ""Japanes...",[]
15,Do Van H,Viet Nam,2001,Male,NaN,2 years of experience in Java,"{'university': 'FPT Aptech', 'years': '07/2019...",{'English': None},"{'Java': None, 'Typescript': None}","{'Eclipse': None, 'Visual Studio': None, 'Netb...",{},{'Docker': None},{},"{'SQLServer': None, 'Oracle': None, 'PostgreSQ...",{'AWS': None},"[{""project name"": ""L Project"", ""customer"": ""Ko...",[]
16,Luong Van H,Viet Nam,1991,Male,NaN,9 years of experience in the computer software...,{'university': 'Ha Noi University of Science A...,{'English': None},"{'Java': None, 'Python': None, 'Bash Script': ...","{'Eclipse': None, 'Intellij': None, 'VSCode': ...","{'Git': None, 'SVN': None}",{'Docker': None},{},"{'MySQL': None, 'PostgresSQL': None, 'Oracle S...","{'AWS': None, 'Google cloud': None}","[{""project name"": ""L Project"", ""customer"": ""Ja...",[]
17,Nguyen Thanh Ph,Viet Nam,1999,Male,NaN,"2 years of experience in PHP, VueJs, Typescrip...","{'university': 'FPT POLYTECHNIC COLLEGE', 'yea...",{'English': None},"{'PHP': None, 'VueJs': None, 'Typescript': Non...","{'PHPStorm': None, 'Visual Studio': None}",{},{},{},{'MySQL': None},{'AWS': None},"[{""project name"": ""L Project"", ""customer"": ""Ko...",[]
18,Nguyen Ha P,Viet Nam,1990,Male,5 year,5+ years of experience in Software Testing. Ex...,"{'university': 'FPT University', 'years': '201...","{'Vietnamese': None, 'English': None}","{'HTML': None, 'Java': None, 'Python': None}","{'Backlog': None, 'Jira': None, 'Redmine': None}","{'Selenium': None, 'Robot Framework': None, 'K...",{},{},"{'Oracle': None, 'MariaDB': None, 'PostgreSQL'...",{},"[{""project_name"": ""EXD_EDION_IC"", ""customer"": ...",[]
19,Pham Thu T,Viet Nam,2002,Female,NaN,"1 years of experience in Laravel,PHP",{'university': 'Cao dang thuc hanh FPT Polytec...,"{'English': None, 'Korean': None}",{'PHP': None},"{'Postman': None, 'Adobe XD': None, 'Figma': N...",{},{},"{'Ubuntu': None, 'Windows': None}","{'MySQL': None, 'Oracle': None}",{},NaN,['Top Notch 2.2']
20,Tran Thi Kim B,Viet Nam,2002,Female,NaN,1 years of experience in Java,{'university': 'University of Engineering and ...,{'English': None},{'Java': None},"{'VSCode': None, 'IntelliJ': None, 'Eclipse': ...",{},{'Docker': None},{},{'MySQL': None},{'AWS': None},"[{""project name"": ""L Project"", ""customer"": ""Ko...",[]
21,Tran Tien D,Viet Nam,2001,Male,NaN,I don't have experience,"{'university': 'Dai hoc Cong nghiep Ha Noi', '...",{},{'PHP': None},"{'Visual Studio': None, 'Notepad++': None, 'Re...",{},{},"{'Windows': None, 'Ubuntu': None}","{'SQLServer': None, 'MySQL': None}",{},NaN,[]
22,Tran Trong N,Viet Nam,1996,Male,NaN,3 years of experience in the Cloud Computing. ...,{'university': 'Hoc vien Cong nghe Buu chinh V...,{},"{'PHP': None, 'TypeScript': None}","{'Postman': None, 'Jira': None, 'Github': None...",{},{'Docker': None},"{'Windows': None, 'Ubuntu': None}",{'MySQL': None},{'AWS': None},NaN,"['AWS SAA', 'AWS cloud practitioner']"
23,Nguyen Phuong C,Viet Nam,2001,Female,1 year,I am a proficient software tester with experie...,{'university': 'University of Languages and In...,"{'Vietnamese': None, 'English': None, 'Japanes...",{},"{'Redmine': None, 'Jira': None, 'Backlog': Non...",{},{},{},"{'MySQL': None, 'Oracle': None, 'Mongo': None}",{'AWS': None},"[{""project name"": ""Project_IC"", ""customer"": ""J...","['ISTQB Foundation (CTFL)', 'JLPT N2', 'IELTS ..."
24,Luong Van H,Viet Nam,1990,Male,NaN,9 years of experience in the computer software...,{'university': 'Ha Noi University of Science A...,{'English': None},"{'Java': None, 'Python': None, 'Bash Script': ...",{'Vangrind': None},{'Jenkins': None},{'Docker': None},"{'Windows': None, 'Linux': None, 'MacOS': None}","{'MySQL': None, 'PostgresSQL': None, 'Oracle S...",{'AWS': None},"[{""project name"": ""JACIC"", ""customer"": ""Japan ...",[]
25,Nguyen Duyen M,Viet Nam,1993,Male,NaN,2 years of experiece in PHP,"{'university': 'Dai hoc Thuy Loi', 'years': '0...",{'English': None},{'PHP': None},"{'PHP storm': None, 'Visual Studio': None, 'ER...",{},{},"{'Windows': None, 'Linux': None}",{'MySQL': None},{},NaN,[]
26,Pham Thi H,Viet Nam,1993,Female,NaN,Have +7 years of experience in the software de...,{'university': 'Post & Telecommunications Inst...,{'English': None},"{'PHP': None, 'Nodejs': None, 'Python': None}","{'PhpStorm': None, 'Trello': None, 'Backlog': ...",{},{},{},"{'PostgreSQL': None, 'MySQL': None, 'Redis': N...",{},NaN,[]
27,Thai Minh T,Viet Nam,2001,Male,1 year,"4 years of experience at Cloud Pre-Sales,4 yea...",{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'Around 70...",{'Bash Script': 'Medium'},"{'Grafana': 'High', 'Prometheus': 'High'}",{'AWS CloudFormation': 'Medium'},{},"{'Windows': 'Medium', 'Linux': 'High'}",{},"{'AWS': 'High', 'Azure': 'Medium'}","[{""project name"": ""HVN AWS Support"", ""customer...",[{'certification': 'AWS Certified Security Spe...
28,Tran Nhan T,Viet Nam,1993,Male,NaN,"1 year of experience in Kotlin, Mobile Native ...",{'university': 'Hoc vien Cong nghe Buu chinh V...,{'English': None},"{'Java': None, 'C': None, 'C++': None, 'Kotlin...","{'Figma': None, 'Zeplin': None, 'Sketch': None...",{},{},"{'Windows': None, 'iOS': None, 'Android OS': N...","{'MySQL': None, 'SQLite': None}",{},NaN,[]
29,Pham Quang V,Viet Nam,2003,Male,1 year,"Knowledge of cloud platforms, particularly AWS...",{'university': 'Hanoi University of Science an...,"{'Vietnamese': None, 'English': None}","{'Python': None, 'C': None, 'SQL': None, 'Java...",{},{},{},"{'Windows': None, 'Linux': None}","{'MySQL': None, 'SQL server': None, 'DynamoDB'...",{'AWS': None},"[{""project name"": ""Image Classification model""...",[]
30,Tran Minh K,Viet Nam,2000,Male,2 year,2 years of experience at developement online l...,"[{'university': 'College FPT Polytechnic', 'ye...",{},"{'Java': None, 'Javascript': None, 'Python': N...","{'Trello': None, 'Github': None, 'Gitlab': None}",{},{},"{'Windows': None, 'Linux': None}","{'MySQL': None, 'Oracle': None, 'Redis': None,...",{'AWS': None},"[{""Project Name"": ""FUNiX Online Education Syst...",[{'certification': 'IBM Full Stack Software De...
31,Bui Duc A,Viet Nam,1990,Male,NaN,3 years of experience in the Cloud Computing. ...,{'university': 'HoChiMinh City University of I...,{'English': None},"{'Python': None, 'Bash Script': None}","{'Grafana': None, 'Prometheus': None, 'NodeExp...","{'AWS Codepipeline': None, 'CodeBuild': None, ...","{'Docker': None, 'Podman': None, 'Kurbernetes'...","{'Windows': None, 'Linux': None, 'Ubuntu': None}",{'PostgresSQL': None},{'AWS': None},"[{""project name"": ""SPPL Microservice"", ""custom...",[]
32,Chu Ngoc M,Viet Nam,1990,Male,4 year,3 years of experience in the Software Engineer...,{'university': 'Hanoi University of Science an...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5...",{'Bash Script': None},"{'Grafana': None, 'CloudWatch': None, 'Prometh...",{'AWS CloudFormation': None},{'Docker': None},"{'Windows': None, 'Linux': None}",{'PostgresSQL': None},"{'AWS': None, 'Azure': None}","[{""project name"": ""SPPL Microservices platform...",['AWS Certified Solutions Architect Associate'...
33,Hoang Dong H,Viet Nam,1998,Male,NaN,"1 years of experience in Public Cloud, AWS.","{'university': 'Foreign Trade University', 'ye...",{'English': None},{'Python': None},{'Visual Studio Code': None},{},{},"{'Windows': None, 'Linux': None}",{'MySQL': None},{'Amazon Web Service': None},"[{""project name"": ""HVN AWS Support"", ""customer...",[]
34,Hoang Thu P,Viet Nam,2003,Female,1 year,Skilled in developing Bidata platform on AWS. ...,{'university': 'FPT University and Technology ...,"{'Vietnamese': None, 'English': None}","{'Java': None, 'Scala': None, 'HiveSql': None}","{'Databrick': None, 'Apache Spark': None, 'AWS...",{},{'Docker': None},"{'Windows': None, 'Linux': None}","{'MySQL': None, 'DynamoDB': None, 'SQL Server'...",{'AWS': None},"[{""project name"": ""USMH_Search Engine"", ""custo...",[]
35,Huynh Thanh T,Viet Nam,2002,Male,1 year,"Deep understanding in AWS services, and AWS Pr...",{'university': 'British University Vietnam (BU...,"{'Vietnamese': None, 'English': None}","{'Python': None, 'Bash Script': None}",{'AWS CloudWatch': None},"{'Terraform': None, 'AWS CloudFormation': None...","{'Docker': None, 'ECS': None, 'ECR': None}","{'Windows': None, 'Linux': None}","{'MySQL': None, 'SQL Server': None, 'PosgreSQL...","{'AWS': None, 'GCP': None}","[{""project name"": ""APC Devops"", ""customer"": ""J...",[{'name': 'AWS Certified Solution Architect As...
36,Nguyen Duc T,Viet Nam,2001,Male,3 year,3 years of experience in the computer software...,{'university': 'VNU University of Engineering ...,"{'Vietnamese': None, 'English': None}","{'Python': None, 'Java': None, 'SQL': None, 'B...","{'Grafana': None, 'Prometheus': None, 'NetApp'...","{'AWS DevOps stack': None, 'GCP DevOps stack':...","{'Kafka': None, 'ECS': None, 'Kurbernetes': No...","{'Windowns': None, 'Linux': None}","{'MySQL': None, 'MongoDB': None, 'DynamoDB': N...","{'AWS': None, 'Azure': None, 'GCP': None}","[{""project name"": ""APC"", ""customer"": ""Japanese...",['AWS Certified Solution Architect Professiona...
37,Nguyen Gia T,Viet Nam,1994,Male,4 year,"4 years of experience at Cloud Pre-Sales, 4 ye...",{'university': 'Hanoi University of Science an...,"{'Vietnamese': None, 'English': None}",{'Bash Script': None},"{'Grafana': None, 'Prometheus': None}",{'AWS CloudFormation': None},{},"{'Windows': None, 'Linux': None}",{},"{'AWS': None, 'Azure': None}","[{""project name"": ""HVN AWS Support"", ""customer...","['AWS Certified Security Specialty', 'AWS Cert..."
38,Nguyen Phu Q,Viet Nam,2001,Male,2 year,3 years of experience in the computer software...,"{'university': 'TLU ThuyLoi University', 'year...","{'Vietnamese': None, 'English': None}","{'Python': None, 'Bash Script': None, 'SQL': N...","{'AWS Cloudwatch': None, 'Cloud Monitoring': N...","{'AWS DevOps stack': None, 'Gitlab-CI': None, ...",{'ECS': None},"{'Windowns': None, 'Linux': None}","{'RDS': None, 'MySQL': None, 'DynamoDB': None,...","{'AWS': None, 'GCP': None}","[{""project name"": ""Mitsutoyo Keisoku"", ""custom...",[{'certification': 'AWS Certified Solution Arc...
39,Dang The A,Viet Nam,1998,Male,4 year,3 years of experience in the computer software...,{'university': 'Water Resources University Inf...,"{'Vietnamese': 'Native', 'English': 'Toeic 600'}","{'Python': None, 'SQL': None, 'Bash Script': N...","{'Grafana': None, 'Prometheus': None, 'NetApp'...","{'AWS DevOps stack': None, 'GCP DevOps stack':...","{'Kafka': None, 'ECS': None, 'Kurbernetes': No...","{'Windows': None, 'Linux': None}","{'MySQL': None, 'MongoDB': None, 'DynamoDB': N...","{'AWS': None, 'Azure': None, 'GCP': None}","[{""project name"": ""APC"", ""customer"": ""Japanese...",[{'certification': 'AWS Certified Solution Arc...
40,Do Xuan H,Viet Nam,2002,Male,NaN,1 year work as Devops Engineer. Experience in ...,{'university': 'VNU University of Engineering ...,{},"{'Java': None, 'Python': None, 'Type Script': ...","{'CloudWatch': None, 'Grafana': None, 'Prometh...","{'ArgoCD': None, 'Gitlab CI': None, 'Jenkins':...","{'Docker': None, 'K8s': None, 'Openshift': None}","{'Windows': None, 'Linux': None, 'Ubuntu': None}","{'MySQL': None, 'MariaDB': None}","{'AWS': None, 'Azure': None}","[{""project name"": ""SPPL"", ""customer"": null, ""p...",[{'certification': 'CKA Certified Kubernetes A...
41,Bui Manh P,Viet Nam,2000,Male,2 year,1 year of experience in CI/CD pipeline deploym...,{'university': 'PTIT Post and Telecommunicatio...,"{'Vietnamese': None, 'English': None}","{'Python': None, 'SQL': None, 'Bash Script': N...",{},"{'Jenkins': None, 'GitHub CI': None}",{'Docker': None},"{'Windows': None, 'Linux': None, 'Android': None}","{'MySQL': None, 'MSSQL': None}","{'GCP': None, 'OCI': None, 'DigiOcean': None}","[{""project name"": ""FCCL"", ""customer"": ""Global ...","['AWS Certified SysOps Administrator', 'IELTS ..."
42,Nguyen Cong Tuan P,Viet Nam,2000,Male,2 year,1 year of experience in System Administration....,{'university': 'University of Engineering and ...,"{'Vietnamese': 'Native', 'English': 'IELTS 6.5'}","{'Python': 'Low', 'Bash Script': 'Medium'}",{},"{'AWS CloudFormation': 'High', 'Terraform': 'L...",{},"{'Windows': 'Medium', 'Linux': 'Medium'}","{'MySQL': 'Medium', 'DMS': 'High', 'Athena': '...","{'AWS': 'High', 'Azure': 'Low', 'GCP': 'Low'}","[{""project name"": ""FCCL"", ""customer"": ""Global ...",[]